<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support : Simplifying Mobility</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/faq.css" />
  </head>
  <body>
    <div id="main">
  
      <div id="top">
     
        <div id="topbox1">
          <p>Simplifying Mobility</p>
        </div>

        <div id="topbox2">


          <p id="abc98">Welcome</p>

          <div id="juggad1">
            <div id="login-btn"><p>LOGIN</p></div>
            <button id="dummy"></button>
            <div id="login-btn2"><p>SIGN UP</p></div>
          </div>
        </div>
      </div>

      <div id="voldermart">
        <button id="abc1">Home</button>
        <button id="abc2">Solution</button>
      </div>

      <div id="top2">
      

        <div id="onetop2">
          <p>How can we help you today?</p>
        </div>

        <div id="twotop2">
          <div>
            <input
              placeholder="Enter your search term here..."
              type="text"
              data-max-matches="10"
            />
          </div>
          <div>
            <img
              src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png"
              style="width: 30px; height: 30px"
            />
          </div>
        </div>

        <div id="3top2">
          <i id="nnd_line_1st" class="fas fa-plus-square"></i>
          <a href="./addTicket.html" class="rnd" title="New support ticket">
            New support ticket
          </a>

          <i id="nnd_line_2nd" class="fas fa-share-alt-square"></i>
          <a href="./showticket.html" class="rnd" title="Check ticket status">
            Check ticket status
          </a>
        </div>
      </div>

      <div id="stem">
       

        <div id="stem-top">
          <div>
            <h2 id="heading-k">Knowledge base</h2>
          </div>

          <div>
            <h3 id="heading-k2" class="heading">FAQs</h3>
          </div>

          <div id="stem-box">
          

            <div id="stem-box-1">


              <div>
                <a href="" class="sub-head" title="Learn about ONN ">
                  <p>Learn about ONN</p></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q1">What is ONN Bikes?</a>
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q2"
                      >What are the benefits of using ONN?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q3"
                      >What are the bike options available?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q4"
                      >Where is ONN currently operational?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q5">Our Usage Policy</a>
                  </div>
                </li>
              </ul>
            </div>

            <div id="stem-box-2">
   

              <div>
                <a href="" class="sub-head" title="Getting Started ">
                  Getting Started <span>(5)</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q6"
                      >How do I register with ONN?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q7"
                      >What are documents required,register on ONN Bikes?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q8"
                      >I am having trouble registering on the platform.</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q9"
                      >I don&#x27;t have a Driving License.</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q10"
                      >What is the Privacy Policy?</a
                    >
                  </div>
                </li>
              </ul>
            </div>

            <div id="stem-box-3">
       

              <div>
                <a href="" class="sub-head" title="Plans &amp; Promotions">
                  Plans &amp; Promotions <span>(8)</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q11"
                      >What are the various plans available?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q12"
                      >What are commute rides and subscription?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q13"
                      >What is Rent-to-Own(R2O) plans</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q14"
                      >Is the fuel/charging included in my tariff?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q15"
                      >How do I redeem my Promo Code?</a
                    >
                  </div>
                </li>
              </ul>
              <a href="" class="extra-feat">See all 8 articles</a>
            </div>

            <div id="stem-box-4">
      

              <div>
                <a href="" class="sub-head" title="Booking your Ride">
                  Booking your Ride <span>(9)</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q16"
                      >How do I book a ride?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px; background-color: white"
                    />
                    <a href="/home/faq1/solution" id="q17"
                      >How do I book a commute?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q18"
                      >How do I reach my Pickup Station?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q19"
                      >Can I drop off my bike at a different station?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q20"
                      >What are ONN station timings?</a
                    >
                  </div>
                </li>
              </ul>

              <a href="" class="extra-feat">See all 9 articles</a>
            </div>

            <div id="stem-box-5">
           

              <div>
                <a
                  href=""
                  class="sub-head"
                  title="Payments, Cancellation and Refund"
                >
                  Payments, Cancellation and Refund <span>(6)</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q21"
                      >What are the various modes of payment for my ride?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q22"
                      >Payment done but confirmation not received.</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q23"
                      >What are the late drop off charges?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q24"
                      >I want to cancel my ride.</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q25"
                      >What are the refund policies?</a
                    >
                  </div>
                </li>
              </ul>
              <a href="" class="extra-feat">See all 6 articles</a>
            </div>

            <div id="stem-box-6">
 

              <div>
                <a href="" class="sub-head" title="Security">
                  Security <span>(7)</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q26"
                      >Are the rides insured?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q27"
                      >What are the charges for damages to the bike?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q28"
                      >What is the speed limit policy?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q29"
                      >What to do in case of malfunction and breakdowns?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q30"
                      >Will I get refund for emergency repairs?</a
                    >
                  </div>
                </li>
              </ul>

              <a href="" class="extra-feat">See all 7 articles</a>
            </div>

            <div id="stem-box-7">
   

              <div>
                <a href="" class="sub-head" title="COVID-19 Safety">
                  COVID-19 Safety <span>(5)</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q31"
                      >What are the measures taken by us for COVID-19 Safety?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q32"
                      >Where is the bike sanitization facility available?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q33"
                      >How many times can I get my bike sanitized?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q34"
                      >How are ONN Stations ensuring safety?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q35"
                      >How can I get home delivery of my bike?</a
                    >
                  </div>
                </li>
              </ul>
            </div>

            <div id="stem-box-8">
   

              <div>
                <a href="" class="sub-head" title="Explore all the FAQs">
                  Explore all the FAQs <span>2</span></a
                >
              </div>

              <ul>
                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q36"
                      >Will I be provided with helmet on pickup?</a
                    >
                  </div>
                </li>

                <li>
                  <div>
                    <img
                      src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                      style="width: 20px; height: 16px"
                    />
                    <a href="/home/faq1/solution" id="q37">Link</a>
                  </div>
                </li>
              </ul>
            </div>

      
          </div>
        </div>

        <div id="stem-bottom">
          <h3 id="heading-k22"><a href="" id="heading-k223">Offerings</a></h3>

          <div>
            <div>
              <a href="" class="sub-head" id="lct" title="Rent-To-Own(R2O)"
                >Rent-To-Own(R2O)<span>(16)</span></a
              >
            </div>

            <ul>
              <li>
                <div>
                  <img
                    src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                    style="width: 20px; height: 16px"
                  />
                  <a href="/home/faq1/solution" id="q38"
                    >What is Rent-To-Own(R2O)</a
                  >
                </div>
              </li>

              <li>
                <div>
                  <img
                    src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                    style="width: 20px; height: 16px"
                  />
                  <a href="/home/faq1/solution" id="q39"
                    >Benefits of R2O over renting a bike.</a
                  >
                </div>
              </li>

              <li>
                <div>
                  <img
                    src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                    style="width: 20px; height: 16px"
                  />
                  <a href="/home/faq1/solution" id="q40"
                    >Payment scheme for R2O plan</a
                  >
                </div>
              </li>

              <li>
                <div>
                  <img
                    src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                    style="width: 20px; height: 16px"
                  />
                  <a href="/home/faq1/solution" id="q41"
                    >What will be the service assistance during the R2O plan?</a
                  >
                </div>
              </li>

              <li>
                <div>
                  <img
                    src="https://previews.123rf.com/images/sulikns/sulikns1809/sulikns180900793/108689006-book-icon-linear-style-on-a-transparent-background.jpg"
                    style="width: 20px; height: 16px"
                  />
                  <a href="/home/faq1/solution" id="q42"
                    >Can I use the vehicle in a different state?</a
                  >
                </div>
              </li>
            </ul>
            <a href="#" class="extra-feat">See all 16 articles</a>
          </div>
        </div>
      </div>

      <div id="root">
        <p>HOME - SOLUTIONS</p>

        <div id="overlay" onclick="off()">
          <div id="text">
            <div id="white-board">
              <pre>	
<h2>Why we love Cookies</h2>
<hr>
<p>
   We use cookies to try and give you a better experience in 
   Freshdesk.</p>
<p>
   You can learn more about what kind of cookies we use, why, 
   and how from our Privacy Policy. If you hate cookies, or are 
   just on a diet, you can disable them altogether too. Just note 
   that the Freshdesk service is pretty big on some cookies (we love 
   the choco-chip ones), and some portions of Freshdesk may not work properly 
   if you disable cookies.
</p> 
<p>
   We’ll also assume you agree to the way we use cookies and are ok with it 
   as described in our Privacy Policy, unless you choose to disable them 
   altogether through your browser.
</p></pre>
            </div>
          </div>
        </div>

        <div>
          <p id="end" onclick="on()">cookie-policy</p>
        </div>
      </div>

    </div>
  </body>
</html>

<script src="/static/jsfile/faq.js"></script>
