<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solution</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/solution.css" />
  </head>
  <body>
    <div id="main">
      <div id="top">
        <div id="topbox1">
          <p>Simplifying Mobility</p>
        </div>

        <div id="topbox2">
          <p id="abc98">Welcome</p>

          <div id="juggad1">
            <div id="login-btn"><p>Login</p></div>
            <div id="login-btn2"><p>SignUp</p></div>
          </div>
        </div>
      </div>

      <div id="voldermart">
        <button id="abc1">Home</button>
        <button id="abc2">Solution</button>
      </div>

      <div id="display-cont">
        <div id="searchbox">
          <input
            type="text"
            id=" searchbox1"
            placeholder="Entew your search here"
          />
        </div>

        <div id="alpha">
          <a id="newTicket" href="#">
            <i class="fas fa-plus-square"></i> New support ticket</a
          >
        </div>
      </div>

      <div id="displayscreen">
        <div id="dismain">
          <div id="questionanswer">
            <p id="sourceofQues" style="color: rgb(31, 31, 175)"></p>
            <h1 id="questions"></h1>
            <p id="creator"></p>
            <p id="time"></p>
            <hr />
            <h2 id="answers"></h2>

            <div id="new-sec">
              <div id="circle"><center>A</center></div>
              <div id="circle1">
                <p>Hema is the author of this solution article.</p>
                <p>
                  Did you find it helpful? <span id="yes">Yes</span>
                  <span id="no">No</span>
                </p>
                <p id="userreaction"></p>
                <div id="dekha"></div>
              </div>
            </div>
          </div>

          <div id="quest">
            <h2 id="related">Related article</h2>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans1"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans2"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans3"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans4"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans5"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans6"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans7"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans8"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans9"></p></div>
            </div>
            <div id="flexing">
              <div>
                <img
                  src="https://banner2.cleanpng.com/20180424/fle/kisspng-e-book-computer-icons-reading-book-icon-5adf24aba44ef1.056443881524573355673.jpg"
                  style="
                    width: 20px;
                    height: 16px;
                    background-color: rgb(221, 224, 226);
                  "
                />
              </div>
              <div><p id="ans10"></p></div>
            </div>

            <p id="ans2"></p>
            <p id="ans3"></p>
            <p id="ans4"></p>
            <p id="ans5"></p>
            <p id="ans6"></p>
            <p id="ans7"></p>
            <p id="ans8"></p>
            <p id="ans9"></p>
            <p id="ans10"></p>
          </div>
        </div>
      </div>

      <div id="root">
        <div>
          <p>Home - Solution</p>
        </div>

        <div id="overlay" onclick="off()">
          <div id="text">
            <div id="white-board">
              <pre>	
<h2>Why we love Cookies</h2>
<hr>
<p>
   We use cookies to try and give you a better experience in 
   Freshdesk.</p>
<p>
   You can learn more about what kind of cookies we use, why, 
   and how from our Privacy Policy. If you hate cookies, or are 
   just on a diet, you can disable them altogether too. Just note 
   that the Freshdesk service is pretty big on some cookies (we love 
   the choco-chip ones), and some portions of Freshdesk may not work properly 
   if you disable cookies.
</p> 
<p>
   We’ll also assume you agree to the way we use cookies and are ok with it 
   as described in our Privacy Policy, unless you choose to disable them 
   altogether through your browser.
</p></pre>
            </div>
          </div>
        </div>

        <div id="cookies">
          <p id="end" onclick="on()">Cookies-policies</p>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/static/jsfile/solution.js"></script>
